重复字符串

In [50]:
a = 'fresh!'
b = a * 4
print(a)
print(b)

fresh!
fresh!fresh!fresh!fresh!

In [3]:
print(7 / 2)
print(7 // 2)

3.5
3

In [14]:
name = 'fresh chen'
print('my name is'+name+'!!!')
print('my name is',name,'!!!')

my name isfresh chen!!!
my name is fresh chen !!!

In [15]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

In [16]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [17]:
mod_5 = lambda x: x % 5
print('101 mod 5 =', mod_5(101))

101 mod 5 = 1

In [21]:
names = ['jacques', 'Ty', 'Mia', 'pui-wa']
print("Longest name is:", max(names, key=lambda name: len(name))) # or just key=len
print("Names sorted case insensitive:", sorted(names, key=lambda name: name.lower()))
print("Names sorted case insensitive:", sorted(names, key=lambda name: len(name)))

Longest name is: jacques
Names sorted case insensitive: ['jacques', 'Mia', 'pui-wa', 'Ty']
Names sorted case insensitive: ['Ty', 'Mia', 'pui-wa', 'jacques']

In [22]:
3.0 == 3

True

In [23]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))

True
False
True
False

In [37]:
x = 37
bin(37)

'0b100101'

In [38]:
x = 37
x.bit_length()

6

In [39]:
nums = [1, 2, 4, 8, 16]
for i in range(len(nums)):
    nums[i] = nums[i] * 2
nums

[2, 4, 8, 16, 32]

In [40]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [42]:
print("hello", end='')
print("pluto", end='')

hellopluto

In [43]:
planet = 'Pluto'
planet[0]

'P'

In [44]:
claim = "Pluto is a planet!"
claim.upper()
claim.lower()
claim.startswith(planet)
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [46]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])

'01/31/1956'

In [48]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [49]:
name = 'fresh'
age = 11
'my name is {} , i am {} years old'.format(name,age)

'my name is fresh , i am 11 years old'